{% extends 'base.html.twig' %}

{% block title %}Recette :
	{{ recipe.title }}
{% endblock %}

{% block body %}
	<h1>Détails de la recette</h1>

	<h2>{{ recipe.title }}</h2>

	<p>{{ recipe.content|nl2br }}</p>

	<p>Durée :
		{{ recipe.duration }}
		minutes</p>

	<p>Ajoutée le :
		{{ recipe.createdAt|date('d/m/Y à H:i') }}</p>

	{% if recipe.updatedAt is not null %}
		<p>Dernière mise à jour :
			{{ recipe.updatedAt|date('d/m/Y à H:i', 'Europe/Paris') }}
		</p>
	{% endif %}

	<a href="{{ path('recipe.edit', {'id': recipe.id}) }}" class="btn btn-primary">
		Modifier la recette
	</a>
{% endblock %}
