{% extends 'base.html.twig' %}

{% block title %}Recette :
	{{ recipe.title }}
{% endblock %}

{% block body %}
	<h1>Liste des recettes</h1>

	<h2>Recette
		{{ recipe.id }}
		:
		{{ recipe.title }}</h2>

	<p>{{ recipe.content| nl2br}}</p>

	{# {% if recipe.user is not empty %}
				<p>Créée par :
					{{ recipe.user.username }}</p>
			{% else %}
				<p>Créée par : Inconnu</p>
			{% endif %} #}

	<p>Ajoutée le :
		{{ recipe.createdAt|date('d/m/Y') }}</p>
	<a href="{{ path('recipe.edit', {'id': recipe.id}) }}" class="btn btn-primary">
		Modifier la recette
	</a>

{% endblock %}
